<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="ivan,popov,иван,попов,да, се, на, от, за, контролер, модел, изглед">
    <title>@ViewBag.Title - Иван Попов</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("ExtraHeadContent", required: false)
</head>
<body>
    <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TQH6ZC"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
            <script>
            (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TQH6ZC');</script>
    <!-- End Google Tag Manager -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("За мен", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Автобиография", "Bio", "Home")</li>
                    <li>@Html.ActionLink("Проекти", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>                    
                </ul>                
                @Html.Partial("_Language")
                @Html.Partial("_FontSize")
            </div>
        </div>
    </div>
    <div class="container body-content">        
            @RenderBody()
    </div>    
    <div class="footer">
            <p>&copy; @DateTime.Now.Year - Иван Попов // <a class="sitemap" href="~/sitemap.xml">XML</a></p>
            <a href="#" class="scrollup">Scroll</a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 800) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
        $('.scrollup').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });
    });

    function increaseSize() {
        var size = parseInt($('body').css('font-size'));
        if (size < 20) $('body').css("font-size", size + 2);
    }

    function decreaseSize() {
        var size = parseInt($('body').css('font-size'));
        if (size > 11) $('body').css("font-size", size - 2);
    }

    function defaultSize() {
        var size = parseInt($('body').css('font-size'));
        if (size != 14) $('body').css("font-size", 14);
    }

    </script>    
</body>
</html>
