@{
    ViewBag.Title = "C# For Dummies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="C# for Dummies представлява условията на задачите от книгата за C# на Академия Телерик и техните упътванията, като аз съм ги решавал или поне съм се опитал :)">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>C# for Dummies</h1>

<span class="tab"></span>В този проект съм се постарал да реша повечето от задачите от книгата "Въведение в програмирането със C#" на <a href="http://nakov.com" target="_blank" alt="www.nakov.com"><b>Светлин Наков</b></a>.<br/><br />
<span class="tab"></span>Книгата "Въведение в програмирането със C#"	се разпространява със свободен лиценз и има за цел да предостави на начинаещите програмисти стабилна основа от фундаментални знания без значение от езика за програмиране. Тази книга обхваща фундаменталните основи на програмирането, които не са се променили съществено през последните 10 години. Учебното съдържание е разработено от авторитетен авторски колектив под ръководството на Светлин Наков и покрива както начални теми като променливи, условни конструкции, цикли и масиви, така и по-сложни концепции като структури от данни (списъци, стекове, опашки, дървета, хеш-таблици и други), рекурсия и рекурсивни алгоритми, обектно-ориентирано програмиране и качествен програмен код. От книгата ще научите как да мислите и разсъждавате като програмисти и как ефективно и качествено да решавате задачи по програмиране. Ще овладеете фундаменталните принципи на програмирането и основните структури от данни и алгоритми, без които не можете да станете софтуерен инженер.<br/><br />
<span class="tab"></span>Книгата може да бъде изтеглена в PDF формат от тук - <a href="~/Resources/CSResources/Fundamentals-of-Computer-Programming-with-CSharp-BG.pdf" target="_blank" alt="Въведение в програмирането със C#"><b>Link</b></a><br /><br />


<table>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 1. Въведение в програмирането", "CSharpForDummies", new { id = 1 })</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 2. Примитивни типове и променливи", "CSharpForDummies", new { id = 2 })</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 3. Оператори и изрази", "CSharpForDummies", new { id = 3 })</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 4. Вход и изход от конзолата", "CSharpForDummies", new { id = 4 })</b>            
</td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 5. Условни конструкции", "CSharpForDummies", new { id = 5 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 6. Цикли", "CSharpForDummies", new { id = 6 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 7. Масиви", "CSharpForDummies", new { id = 7 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 8. Бройни системи", "CSharpForDummies", new { id = 8 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 9. Методи", "CSharpForDummies", new { id = 9 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 10. Рекурсия", "CSharpForDummies", new { id = 10 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 11. Създаване и използване на обекти", "CSharpForDummies", new { id = 11 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 12. Обработка на изключения", "CSharpForDummies", new { id = 12 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 13. Символни низове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 14. Дефиниране на класове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 15. Текстови файлове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 16. Линейни структури от данни</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 17. Дървета и графи</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 18. Речници, хеш-таблици и множества</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 19. Структури от данни – съпоставка и препоръки</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 20. Принципи на обектно-ориентираното програмиране (ООП)</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 21. Качествен програмен код</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 22. Ламбда изрази и LINQ заявки</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 23. Как да решаваме задачи по програмиране?</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 24. Практически задачи за изпит по програмиране – тема 1</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 25. Практически задачи за изпит по програмиране – тема 2</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 26. Практически задачи за изпит по програмиране – тема 3</b>
        </td>
    </tr>
</table>
<br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>