@{
    ViewBag.Title = "C# For Dummies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="C# for Dummies представлява условията на задачите от книгата за C# на Академия Телерик и техните упътванията, като аз съм ги решавал или поне съм се опитал :)">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>C# for Dummies</h1>

<table>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 1. Въведение в програмирането", "CSharpForDummies", new { id = 1 })</b>


        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 2. Примитивни типове и променливи", "CSharpForDummies", new { id = 2 })</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 3. Оператори и изрази", "CSharpForDummies", new { id = 3 })</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 4. Вход и изход от конзолата", "CSharpForDummies", new { id = 4 })</b>            
</td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 5. Условни конструкции", "CSharpForDummies", new { id = 5 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 6. Цикли", "CSharpForDummies", new { id = 6 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 7. Масиви", "CSharpForDummies", new { id = 7 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 8. Бройни системи", "CSharpForDummies", new { id = 8 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 9. Методи", "CSharpForDummies", new { id = 9 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 10. Рекурсия", "CSharpForDummies", new { id = 10 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 11. Създаване и използване на обекти", "CSharpForDummies", new { id = 11 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <b>@Html.ActionLink("Глава 12. Обработка на изключения", "CSharpForDummies", new { id = 12 })</b>            
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 13. Символни низове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 14. Дефиниране на класове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 15. Текстови файлове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 16. Линейни структури от данни</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 17. Дървета и графи</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 18. Речници, хеш-таблици и множества</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 19. Структури от данни – съпоставка и препоръки</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 20. Принципи на обектно-ориентираното програмиране (ООП)</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 21. Качествен програмен код</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 22. Ламбда изрази и LINQ заявки</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 23. Как да решаваме задачи по програмиране?</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 24. Практически задачи за изпит по програмиране – тема 1</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 25. Практически задачи за изпит по програмиране – тема 2</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 26. Практически задачи за изпит по програмиране – тема 3</b>
        </td>
    </tr>
</table>
<br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>